@font-face {
    font-family: Painter;
    src: url('./Painter.eot');
    src: url('./Painter.woff') format('woff'),
        url('./Painter.woff2') format('woff2'),
        url('./Painter.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./butterfly.png');
    font-family: Painter;
}